@model int
<h3>Eliminacion de Productos del Presupuesto @Model</h3>
@if(ViewData["PresupuestosDetalle"]!=null && ((List<PresupuestosDetalle>)ViewData["PresupuestosDetalle"]).Count!=0){
<form asp-controller="Presupuestos" asp-action="EliminarProductos" method="post" class="container mt-4">
    <table class="table table-bordered">
            <input type="hidden" name="idPresupuesto" value="@Model">
                <thead>
                    <th>ID</th>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                </thead>
                <tbody>
                    @foreach(var detalle in (List<PresupuestosDetalle>)ViewData["PresupuestosDetalle"]){
                        <tr>
                            <td>@detalle.Producto.IdProducto
                                <input type="hidden" name="idsProductos" value="@detalle.Producto.IdProducto">
                            </td>
                            <td>@detalle.Producto.Descripcion</td>
                            <td>@detalle.Producto.Precio</td>
                            <td>
                                <input type="hidden" name="cantidadesVieja" value="@detalle.Cantidad">
                                <input class="form-control" type="number" name="cantidadesNueva" value="@detalle.Cantidad" min="0" max="@detalle.Cantidad">
                            </td>
                        </tr>
                    }
                </tbody>
    </table>
    <div class="mt-3">
    <button type="submit" class="btn btn-primary">Actualizar Productos</button>
    <a asp-action="Index" class="btn btn-danger">Cancelar</a>
    </div>
</form>
}else{
    <h2  class="text-center text-muted">SIN PRODUCTOS</h2>
    <a href="../Index"><button class="btn btn-primary mt-2">Volver</button></a>
}