@model List<Presupuestos>

<h1>Lista de Presupuestos</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Destinatario</th>
            <th>Fecha</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var presupuesto in Model){
            <tr>
                <td>@presupuesto.IdPresupuesto</td>
                <td>@presupuesto.NombreDestinatario</td>
                <td>@presupuesto.FechaCreacion</td>
                <td>
                    <a asp-controller="Presupuestos" asp-action="AgregarProducto" asp-route-id="@presupuesto.IdPresupuesto" class="btn btn-primary">Agregar Producto</a>
                    <a asp-controller="Presupuestos" asp-action="EliminarProducto" asp-route-id="@presupuesto.IdPresupuesto" class="btn btn-danger">Eliminar Producto</a>
                    <a asp-controller="Presupuestos" asp-action="O"></a>
                </td>
            </tr>
        }
    </tbody>
</table>