@model List<Clientes>

<h1>Lista de Clientes</h1>
@if(Model.Count>0){
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var cliente in Model){
                <tr>
                    <td>@cliente.ClienteId</td>
                    <td>@cliente.Nombre</td>
                    <td>@cliente.Email</td>
                    <td>@cliente.Telefono</td>
                    <td>
                        <a asp-controller="Clientes" asp-action="ModificarCliente" asp-route-id="@cliente.ClienteId" class="btn btn-secondary">Modificar</a>
                        <a asp-controller="Clientes" asp-action="EliminarCliente" asp-route-id="@cliente.ClienteId" class="btn btn-danger">Borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}else{
    <h2 class="text-center text-muted">SIN CLIENTES</h2>
}
<div class="text-center">
    <a asp-controller="Clientes" asp-action="AltaCliente" class="btn btn-primary">Agregar Cliente</a>
</div>